/* Estilo general del planificador */
.root {
    -fx-background-color: #DFF2EB; /* Fondo principal */
    -fx-padding: 20px;
    -fx-alignment: center;
}

/* Contenedor blanco para englobar botones y elementos */
.container {
    -fx-background-color: #ffffff; /* Fondo blanco */
    -fx-border-radius: 10px;
    -fx-padding: 30px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 10, 0.3, 0, 5);
    -fx-alignment: center;
    -fx-max-width: 600px;
    -fx-max-height: 400px;
    -fx-spacing: 15px;
}

#botonLogOut{
    -fx-background-color: #4A628A;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-padding: 10px 20px;
    -fx-background-radius: 5px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 5, 0.3, 0, 3);
    -fx-alignment: center;
}

/* Botones del planificador */
#ArchivoOrigenButton, #PLanificadorButton {
    -fx-background-color: #4A628A; /* Color secundario */
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-padding: 10px 20px;
    -fx-background-radius: 5px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 5, 0.3, 0, 3);
    -fx-alignment: center;
}

#ArchivoOrigenButton:hover, #PLanificadorButton:hover {
    -fx-background-color: #357abd; /* Color primario al pasar el cursor */
}

/* Texto del nombre del archivo */
#NombreArchivo {
    -fx-text-fill: #4A628A; /* Color primario */
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-alignment: center;
}

/* Área de elementos */
#AreaElems {
    -fx-background-color: #4A628A; /* Color tres */
    -fx-text-fill: #4A628A; /* Color primario */
    -fx-font-size: 12px;
    -fx-padding: 5px;
    -fx-border-color: #4A628A; /* Color secundario */
    -fx-border-width: 1px;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.1), 5, 0.3, 0, 3);
    -fx-max-width: 500px;
    -fx-max-height: 250px;
}
