@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

.root {
  -fx-font-family: "Roboto", sans-serif;
  -fx-background-color: #DFF2EB; 
  -fx-padding: 40px;
}

.title {
  -fx-font-size: 24px;
  -fx-text-fill: #4A628A; 
  -fx-font-weight: bold;
  -fx-padding: 10px;
}

.text-field {
  -fx-background-color: #ffffff;
  -fx-border-color: #7AB2D3; 
  -fx-border-radius: 5px;
  -fx-padding: 10px;
  -fx-font-size: 14px;
  -fx-pref-height: 40px;
}

.text-field:focused {
  -fx-border-color: #4A628A; 
}


.login-button {
  -fx-background-color: #4A628A; 
  -fx-text-fill: white;
  -fx-font-size: 14px;
  -fx-pref-height: 40px;
  -fx-border-radius: 5px;
  -fx-background-radius: 5px;
  -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.15), 5, 0.3, 0, 3);
}

.login-button:hover {
  -fx-background-color: #B9E5E8; 
  -fx-text-fill: #7AB2D3; 
}

ButtonBar {
  -fx-spacing: 10px;
  -fx-padding: 10px;
}
